@media (max-width: 1200px) {
  .top-line-items li:nth-child(1) {
    margin-right: 13px; }
  .top-line-items li:nth-child(2) {
    margin-right: 15px; }
  .middle-line-phone li {
    margin-right: 15px; }
    .middle-line-phone li a {
      font-size: 13px; }
  .bottom-line-menu li {
    padding-left: 7px;
    padding-right: 7px; }
  #home {
    margin-top: 0; }
  #contact-bottom {
    padding-bottom: 50px; }
    #contact-bottom .contact-item {
      display: block;
      text-align: center;
      margin-bottom: 30px; }
  .footer-menu-wrapp .footer-menu li {
    width: 16%;
    margin-right: 0; }
  .popup .contact-form-wrapp {
    max-width: 65%; } }

@media (max-width: 992px) {
  .row div[class^="col-"]:first-child {
    padding-left: 15px; }
  .row div[class^="col-"]:last-child {
    padding-right: 15px; }
  .top-line-items {
    display: none; }
  .hamburger {
    display: inline-block; }
  .logo {
    padding-top: 0;
    padding-bottom: 20px; }
  .mob-menu {
    position: fixed;
    width: 100%;
    top: -50%;
    transition-duration: .5s; }
  .mob-menu.open-menu {
    top: 4%;
    transition-duration: .5s; }
  .middle-line-phone li a {
    font-size: 18px; }
  .cart span {
    display: none; }
  .bottom-line-menu li a {
    letter-spacing: normal; }
  .contact-form-wrapp {
    margin-top: 0; }
  .contact-top-items {
    text-align: center;
    margin-bottom: 30px; }
  #footer {
    padding-bottom: 31px; }
  .footer-logo-wrapp,
  .footer-contacts {
    text-align: center; }
  .footer-menu-wrapp {
    text-align: center; }
    .footer-menu-wrapp .footer-menu {
      display: inline-block;
      padding-top: 21px; }
      .footer-menu-wrapp .footer-menu li {
        width: auto;
        display: block;
        margin-bottom: 15px; }
      .footer-menu-wrapp .footer-menu li:last-child {
        margin-bottom: 0; } }

@media (max-width: 767px) {
  .bottom-line {
    padding-top: 10px;
    padding-bottom: 20px; }
  .bottom-line-menu,
  .logo-wrapp,
  .middle-line-phone,
  .middle-line-btn-wrapp {
    text-align: center; }
  .logo {
    display: inline-block; }
  .middle-line {
    display: none; }
  .bottom-line-menu li,
  .bottom-line-menu li:first-child {
    display: block;
    border: none; }
  .cart {
    text-align: center; }
    .cart span {
      display: inline-block; }
  .popup .contact-form-wrapp {
    max-width: 90%; } }

@media (max-width: 615px) {
  .top-line-schedule {
    display: none; }
  .contact-form-wrapp {
    padding-left: 25px;
    padding-right: 25px; } }
