*,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    transition-duration: .5s;
}

a:hover,
a:focus {
    text-decoration: none;
    transition-duration: .5s;
}

::-webkit-input-placeholder {
    color: rgba(249, 249, 249, 0.7);
}

:-moz-placeholder {
    color: rgba(249, 249, 249, 0.7);
}

::-moz-placeholder {
    color: rgba(249, 249, 249, 0.7);
}

:-ms-input-placeholder {
    color: rgba(249, 249, 249, 0.7);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.row div[class^="col-"]:first-child {
    padding-left: 0;
}

.row div[class^="col-"]:last-child {
    padding-right: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.top-line {
    background-color: #2c3e50;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.15);
    padding-top: 6px;
    padding-bottom: 5px;
}

.top-line-items {
    li {
        span {
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0.4px;
            color: #dddddd;
        }

        img {
            position: relative;
            bottom: 1px;
            margin-right: 10px;
        }
    }

    li:nth-child(1) {
        margin-right: 29px;
    }

    li:nth-child(2) {
        margin-right: 29px;
    }
}

.top-line-schedule {
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #bfc2c5;
    padding-top: 3px;
}

.top-line-nav-wrapp {
    text-align: right;
}

.top-line-search {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.86;
    letter-spacing: 0.4px;
    color: #ffffff;
    padding-top: 6px;
    margin-right: 10px;
    cursor: pointer;
    img {
        margin-left: 8px;
    }
}

.top-line-account {
    display: inline-block;
    padding-left: 20px;
    border-left: 1px solid rgba(238, 238, 238, .15);
}

.middle-line {
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 22px;
}

.logo {
    display: block;
    padding-top: 4px;
}

.middle-line-phone {
    display: block;
    padding-top: 5px;
    li {
        margin-right: 13px;
        img {
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }

        a {
            position: relative;
            top: 3px;
            font-size: 18px;
            font-weight: bold;
            line-height: 0.67;
            color: #6c6c6c;
        }
    }

    li:last-child {
        margin-right: 0;
    }
}

.middle-line-btn-wrapp {
    text-align: right;
}

.middle-line-btn {
    display: inline-block;
    width: 150px;
    border-radius: 4px;
    background-color: #2980b9;
    box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 1, 0.2);
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition-duration: .5s;
}

.middle-line-btn:hover {
    transition-duration: .5s;
    background-color: #53bbff;
}

.bottom-line {
    background-color: #2980b9;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.15);
}

.bottom-line-menu {
    li {
        padding: 12px 13px;
        border-right: 1px solid rgba(238, 238, 238, 0.15);
        a {
            font-size: 14px;
            font-weight: bold;
            line-height: 0.86;
            letter-spacing: 0.7px;
            color: #f9f9f9;
            text-transform: uppercase;
        }
    }

    li:first-child {
        border-left: 1px solid rgba(238, 238, 238, .15);
    }
}

.cart {
    display: block;
    padding-top: 14px;
    text-align: right;
    span {
        font-size: 18px;
        font-weight: bold;
        line-height: 0.67;
        letter-spacing: 0.5px;
        color: #ffffff;
        margin-right: 12px;
    }
}

.cart-img-wrapp {
    position: relative;
    bottom: 4px;
    display: inline-block;
    width: 23px;
    height: 23px;
    img {
        width: inherit;
        height: inherit;
    }
}

.cart-img-label {
    font-family: "MyriadProBold";
    position: absolute;
    top: -6px;
    right: -9px;
    width: 16px;
    height: 16px;
    background-color: #d50001;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    color: #ffffff;
}

#home {
    margin-top: 155px;
    background-image: url(../img/home-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 119px;
    padding-bottom: 127px;
}

.home-content {
    text-align: center;
    h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 36px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0.9px;
        color: #ffffff;
        margin: 0 0 21px 0;
    }

    p {
        font-size: 24px;
        font-weight: normal;
        line-height: 1.04;
        letter-spacing: 0.6px;
        color: #ffffff;
    }
}

#contact-top {
    padding-top: 5px;
    padding-bottom: 35px;
}

.bread-crumbs {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: 0.4px;
    margin-bottom: 14px;

    p {
        display: inline-block;
        margin-bottom: 0;
        color: #337ab0;
    }

    a {
        display: inline-block;
        color: #6c6c6c;
    }
}

.contact-item {
    margin-bottom: 44px;
}

.contact-item-title {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.39;
    color: #2c3e50;
    margin: 0 0 15px 0;
}

.contact-item-info-block {
    li {
        display: block;
        margin-bottom: 13px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: 0.34px;
        color: #212121;
        a,
        span {
            min-width: 185px;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            color: inherit;
        }
        img {
            margin-right: 10px;
        }
    }

    li:last-child {
        margin-bottom: 0;
    }
}

.contact-item:last-child {
    margin-bottom: 0;
}

.contact-form-wrapp {
    position: relative;
    margin-top: -37px;
    width: 100%;
    border-radius: 4px;
    background-color: #2c3e50;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.2);
    padding: 25px 52px 31px 49px;
}

.contact-form-title {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #f9f9f9;
    margin: 0 0 15px 0;
}

.contact-form-descr {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #f9f9f9;
    margin: 0 0 32px 0;
}

.contact-form-name,
.contact-form-email,
.contact-form-tel,
#contact-form-textarea {
    width: 100%;
    display: block;
    border-radius: 2px;
    background-color: #2c3e50;
    border: solid 1px #959595;
    margin-bottom: 15px;
    padding: 6px 0 6px 13px;
    font-size: 14px;
    line-height: 1.79;
    letter-spacing: 0.4px;
}

#contact-form-textarea {
    min-height: 150px;
}

.contact-form-submit {
    width: 170px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.79;
    letter-spacing: 0.4px;
    text-align: center;
    color: #f9f9f9;
    border-radius: 4px;
    background-color: #e2a000;
    box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

#contact-bottom {
    padding-top: 50px;
    padding-bottom: 143px;
    background-color: rgba(148, 161, 170, .2);
}

.contact-item-info-phone-wrapp {
    img {
        vertical-align: top;
    }
}

.contact-item-info-block {
    .contact-item-info-addres-wrapp {
        img {
            margin-right: 18px;
        }
    }
}

.contact-item-info-phone {
    display: inline-block;
    a {
        display: block;
    }
}

.contact-item-requisites {
    margin-top: 40px;
}

#map {
    height: 402px;
}

#footer {
    background-color: #2c3e50;
    padding-top: 31px;
    padding-bottom: 194px;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-menu {
    padding-top: 38px;
    padding-bottom: 21px;
    border-top: 2px solid rgba(238, 238, 238, .15);
    border-bottom: 2px solid rgba(238, 238, 238, .15);
    margin-bottom: 39px;
    li {
        a {
            font-size: 12px;
            font-weight: normal;
            line-height: 1.17;
            letter-spacing: 0.3px;
            color: #f5f7f8;
            text-transform: uppercase;
        }
    }

    li:nth-child(1) {
        margin-right: 140px;
    }
    li:nth-child(2) {
        margin-right: 159px;
    }
    li:nth-child(3) {
        margin-right: 70px;
    }
    li:nth-child(4) {
        margin-right: 65px;
    }
    li:nth-child(5) {
        margin-right: 130px;
    }
    li:nth-child(6) {
        margin-right: 0;
    }
}

.footer-contacts {
    li {
        margin-right: 28px;
    }

    li:last-child{
        margin-right: 0;
    }
}